#NOTE: this will cause your collaborators to re-import assets periodically
Evac/Library/*
Evac/Build/*
Evac/Temp/*
#Un-ignore these specific files
!Evac/Library/*.asset
!Evac/Library/AssetImportState
!Evac/Library/AssetVersioning.db
!Evac/Library/BuildPlayer.prefs
!Evac/Library/ScriptMapper
!Evac/Library/assetservercachev3
!Evac/Library/expandedItems
!Evac/Library/guidmapper
!Evac/Library/unity default resources
!Evac/Library/unity editor resources
!Evac/Library/metadata/


#ignoring pidb, they are just code completion caching data according to:
# http://stackoverflow.com/questions/1022111/what-are-monodevelops-pidb-files
*.pidb
*.userprefs
